<div class="app">
    <div class="item">
        <img src="https://i.ytimg.com/vi/d2k4QAItiSA/maxresdefault.jpg" alt="">
      
    </div>
        <div class="item">
        <div class="form-group">
            <label for="name"> Title</label>
            <input type="text" [(ngModel)]="movieName" />
        </div>
        
        <div class="form-group">
            <label for="name"> Category </label>
            <input type="text" [(ngModel)]="category" />
        </div>

        <div class="form-group">
            <label for="name"> Description</label>
            <textarea type="text" [(ngModel)]="description"></textarea>
        </div>

        <div class="form-group">
            <label for="name"> Image </label>
            <input type="text" [(ngModel)]="image" />
        </div>

        <button (click)="onSubmit()">Update</button>
    </div>
       
       
    
 
</div>
