*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color:  #540075;
    padding: 20px 15px;
    flex-wrap: wrap;
    
}

.links{
    display: flex;
    gap: 30px;
}

.links1{
    display: flex;
    gap: 20px;
}

li{
    list-style:  none;
    
}

a{
    text-decoration: none;
    color: white;
}

.active{
    color: black;
    font-weight: bolder;
}